.btn {
    width: 10em;
    background-color: green;
    color: white;
}
.btn-used {
    background-color: red;
    color: black;
}
.answer:focus {
    outline-width: 5px;
    outline-style: solid;
}
.lockIn {
    font-size: 24px;
    width: 1.5em;
}
label {
    font-weight: bold;
}
.answer-correct {
    background-color: green;
    color: white;
}
.answer-wrong {
    background-color: red;
    color: black;
}
h4 {
    border: solid 1px black;
    width: 8em;
    text-align: center;
    margin: 5px;
}
.current-level {
    background-color: blue;
    color: white;
    border: 3px solid red;
}
.passed-level {
    background-color: cyan;
}
.next-question {
    background-color: blue;
    color: white;
}
.hidden-btn {
    visibility:hidden;
}
.restart {
    background-color: blue;
    color: white;
}

